<button (click)="createNewProduct()">create</button>
<div class="products--grid">
  <app-product (showProduct)="onShowDetail($event)" (addedProduct)="onAddToShoppingCart($event)" [product]="product" *ngFor="let product of products"></app-product>
<!-- aqui recibimos la emicion del id con el evento showProduct  y ejecutamos el onShowDetail enviandole el id-->
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productSelected">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{productSelected.title}}</h1>
    <app-img  [img]="productSelected.images[0]"></app-img>
<!-- falta implementar swiper -->
    <p>{{productSelected.description}}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>

