<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="../assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="showMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">Home</a></li>
        <li *ngFor="let cat of categories">
          <a routerLinkActive="active" [routerLink]="['category', cat.id]">{{cat.name}}</a>
            <!-- Aqui usamos el routerLinkActive para aplicar la clase active la cual estiliza y resalta la categoria seleccionada, angular automaticamente aplica la clase a la categoria que seleccionamos -->
            <!-- es necesario usar [routerLink[] para dirigirnos a esa categoria en lugar de href-->
        </li>

      </ul>
    </nav>

    <!-- <button (click)="getprofile()">Perfil</button> -->
    <div class="info">
      <div class="log">
      <button *ngIf="!profile; else elseBlock" (click)="login()">Iniciar Sesion</button>
      <ng-template #elseBlock >
        <a routerLink="/profile">{{profile?.email}}</a>
      </ng-template>
     </div>
      <!-- <div class="account">{{email}}</div> -->
      <div class="navbar-shopping-cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <div class="counter">{{counter}}</div>
      </div>
    </div>
  </div>
</div>
