<!-- <p><input type="text" [(ngModel)]="imgParent" /><!-- enlazamos imgParent con el input-->
  <!-- <button (click)="toggleImg()">Toogle Img</button> -->

 <!-- <input type="text" [(ngModel)]="widthP"></p>  enlazamos widthP con el input -->
 <!-- el ngIf que usamos aqui abajo lo que hace es mostrar el componente cuando showImg sea true -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent" [width]="widthP"></app-img> aqui lo que hacemos es enviarle a las variables img y width del componente img.component los valores de las variables imgParent y widthP -->
<!-- para escuchar informacion del hijo agregamos el evento de escucha (loaded) y como parametro enviamos el evento que llevara los datos -->
<!-- <hr> -->
<!--  -->
<!-- <app-nav ></app-nav> lo movimos al layout -->
<!-- dejamos el app nav ya que es el mismo en todas las páginas -->
<router-outlet></router-outlet>
<!-- <button (click)="createUser()">Crear Usuario</button>
<p>
<a href="./assets/files/texto.txt" download="">Descargar el Texto</a>
</p>
<p>
  <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
   con esto subimos el archivo
  <img *ngIf="uploadImage" [src]="uploadImage" alt="">
</p> -->

<!-- no renderizamos el app products porq se mostrara ahora dependiendo de la ruta, de nuestro router -->
<!-- <app-products></app-products> -->



