<!-- <p><input type="text" [(ngModel)]="imgParent" /><!-- enlazamos imgParent con el input-->
  <!-- <button (click)="toggleImg()">Toogle Img</button> -->

 <!-- <input type="text" [(ngModel)]="widthP"></p>  enlazamos widthP con el input -->
 <!-- el ngIf que usamos aqui abajo lo que hace es mostrar el componente cuando showImg sea true -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent" [width]="widthP"></app-img> aqui lo que hacemos es enviarle a las variables img y width del componente img.component los valores de las variables imgParent y widthP -->
<!-- para escuchar informacion del hijo agregamos el evento de escucha (loaded) y como parametro enviamos el evento que llevara los datos -->
<!-- <hr> -->
<!--  -->
<app-nav></app-nav>
<app-products></app-products>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>


