<div class="imgContainer">
  <a [routerLink]="['/product', product.id]">
    <!-- con esto anterior hacemos que al dar click a la imagen del producto nos lleve a la página del producto -->
    <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img> <!-- aqui validamos con el ngIf que existan imagenes en el array antes de mostrarlas -->
  </a>
  <div class="titlePrice">
  <p class="title">{{product.title }}</p>
  <h2 class="price">{{product.price | currency: '$'}}</h2>
  </div>
  <p class="iva" *ngIf="product.taxes"> Taxes {{product.taxes  | currency: '$'}} </p>
<!-- Esto es un PIPE, se usa solo en html -->

<div class="botones">
<button (click)="onAddToCart()">Agregar al Carrito</button>
<!-- <button (click)="onShowDetail()">Ver Detalles</button> -->
<button  routerLink="." [queryParams]="{product: product.id}">Ver Detalles</button>
</div>
</div>
